### Assembler ###
*.exe
*.o
*.obj
*.bc

### MPLabX ###
#Ignore List for Microchips MPLabX IDE
#Form of netbeans with vendor specific changes

*.d
*.pre
*.p1
*.lst
*.sym
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
